Many-labs call/*
Notes/*
Paper/*
IRB/*
Proposals/*
data/*
.DS_Store
*.DS_Store
.png
**/.DS_Store
.pdf
*.pdf
*.csv
*.xlsx
*.png
*.docx
*.txt
Analyses/*
Instructions/figures/REC/*
!Instructions/html/parameters.csv
!Instructions/html/CHT.csv
!Instructions/html/compq.csv
!Instructions/figures/instr_figures/*
!Instructions/figures/choice_lists/*